<% content_for :content do %>
<form method="POST">
  <div>
    <label for="todo">Edit the todo</label>
    <input id="todo" name="todo" type="text" value="<%= todo %>">
    <input name="id" type=hidden value="<%=id %>">
  </div>
  <div>
    <label for="due_day">Due Date</label>
    <input id="due" name="day" type="text" placeholder="day" value="<%=day %>">
    <input id="due" name='month' type="text" placeholder="month" value="<%=month%>">
  </div>
  <button type="submit">Edit Todo</button>
</form>
<% end %>
